/* ======= GENERAL STYLING ======= */
body {
	margin: 0px;
}

/* ======= HEADER ======= */
#header {
	/*background: #4e3c32;*/
}

/* ======= NAVBAR ======= */
#nav-bar {
	display: flex;
	justify-content: space-between;
}

/* NAVBAR LOGO */
#header-img {
	width: 15%;
    margin: 10px 20px;
}
 
/* NAVBAR LINKS */
#nav-bar ul {
	display: flex;
	list-style-type: none;
}

.nav-link {
	margin-right: 30px;
	text-decoration: none;
}
